.resume-text {
    color: white;
    font-size: 1.75em;
    text-decoration: underline;
}
.resume-text:hover {
    color: wheat;
}
.resume-text:focus {
    color: white;
}

.education-text {
    text-decoration: underline;
}

.profile-pic {
    max-width: 25%;
    max-height: 25%;
    border-radius: 50%;
}

.transcript-text {
    color: white;
    text-decoration: underline;
}

.transcript-text:hover {
    color: wheat;
}

.transcript-text:focus {
    color: white;
}